extra-streamlit-components

gspread
langchain
langchain-community
langchain-core
langchain-groq
python-dotenv
streamlit
duckduckgo-search
pillow
serpapi
anthropic
langchain-anthropic
google-auth
pandas
google-search-results
faiss-cpu
sentence-transformers