extra-streamlit-components

gspread
langchain
langchain-community
langchain-core
langchain-groq
python-dotenv
streamlit
duckduckgo-search
pillow
tavily-python
google-auth
pandas
google-search-results
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
docx2txt