extra-streamlit-components

gspread
langchain
langchain-community
langchain-core
langchain-groq
python-dotenv
streamlit
duckduckgo-search
pillow
langchain-tavily
google-auth
pandas
google-search-results
faiss-cpu
sentence-transformers